{
  "printWidth": 120,
  "useTabs": true,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [".prettierrc", "*.json"],
      "options": {
        "parser": "json",
        "useTabs": false,
        "printWidth": 80
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "useTabs": false,
        "printWidth": 80
      }
    }
  ]
}
